.landing-main {
  background-image: url("../ramen.jpg");
  background-size: auto;
  height: calc(100vh - 75.813px);
  animation: fadeIn linear 2s;
  position: relative;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

.landing-desc {
  color: black;
  padding: 1%;
  margin: 1%;
  font-size: 11px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  position: absolute;
  top: 50%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .landing-main {
    position: relative;
    height: calc(100vh - 75.813px);
    background-size: cover;
  }
  .landing-desc {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 1%;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
