.landing-main {
  padding: 0 5% 0 5%;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
}

.btn-group {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 25%;
}


@media only screen and (min-width: 758px) {
    .ladngin-main{
        padding: 0 5% 0 0;
    }
  .landing-title{
      width: 30%;
  }
  .btn-group {
    display: grid;
    width: 30%;
  }
  #landing-img {
    width: 15%;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
