.auth-body {
  text-align: center;
  padding: 5%;
 
}

.auth-form {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 1rem;
}

.error {
  color: red;
}

@media (min-width: 768px) {
  .auth-body{
    display: grid;
 
  }
  .auth-form {
    width: 25%;
    justify-self: center;
  }
}
