.auth-body {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
 
}

 

hr {
  width: 60%;
  margin-bottom: 5%;
}

.auth-form {
  display: grid;
  grid-row-gap: 10%;
}

@media only screen and (min-width: 758px) {
  .auth-body {
    margin-top: 5%;
  }
}
